@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Книги","Index","Books")</p>
    <p>@Html.ActionLink("Автори","Index","Authors")</p>
    <p>@Html.ActionLink("Країни","Index","Countries")</p>
    <p>@Html.ActionLink("Жанри","Index","Genres")</p>
    <p>@Html.ActionLink("Читачі","Index","Readers")</p>
    <p>@Html.ActionLink("Рейтинг","Index","Ratings")</p>
    <p>@Html.ActionLink("Жанр книги","Index","BookGenres")</p>
    <p>@Html.ActionLink("Автор книги","Index","BookAuthors")</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
